[(DustClouds) Weather multipliers]

## Multiply Scrap value for DustClouds
# Setting type: Single
# Default value: 1.05
Scrap Value Multiplier = 1.05

## Multiply Scrap amount for DustClouds
# Setting type: Single
# Default value: 1
Scrap Amount Multiplier = 1

## Difficulty additive for DustClouds
# Setting type: Single
# Default value: 2
Difficulty Additive = 2

[(Eclipsed) Weather multipliers]

## Multiply Scrap value for Eclipsed
# Setting type: Single
# Default value: 1.35
Scrap Value Multiplier = 1.35

## Multiply Scrap amount for Eclipsed
# Setting type: Single
# Default value: 1.2
Scrap Amount Multiplier = 1.2

## Difficulty additive for Eclipsed
# Setting type: Single
# Default value: 7
Difficulty Additive = 7

[(Flooded) Weather multipliers]

## Multiply Scrap value for Flooded
# Setting type: Single
# Default value: 1.25
Scrap Value Multiplier = 1.25

## Multiply Scrap amount for Flooded
# Setting type: Single
# Default value: 1.15
Scrap Amount Multiplier = 1.15

## Difficulty additive for Flooded
# Setting type: Single
# Default value: 7
Difficulty Additive = 7

[(Foggy) Weather multipliers]

## Multiply Scrap value for Foggy
# Setting type: Single
# Default value: 1.15
Scrap Value Multiplier = 1.15

## Multiply Scrap amount for Foggy
# Setting type: Single
# Default value: 1.1
Scrap Amount Multiplier = 1.1

## Difficulty additive for Foggy
# Setting type: Single
# Default value: 4
Difficulty Additive = 4

[(None) Weather multipliers]

## Multiply Scrap value for None
# Setting type: Single
# Default value: 1
Scrap Value Multiplier = 1

## Multiply Scrap amount for None
# Setting type: Single
# Default value: 1
Scrap Amount Multiplier = 1

## Difficulty additive for None
# Setting type: Single
# Default value: 0
Difficulty Additive = 0

[(Rainy) Weather multipliers]

## Multiply Scrap value for Rainy
# Setting type: Single
# Default value: 1.05
Scrap Value Multiplier = 1.05

## Multiply Scrap amount for Rainy
# Setting type: Single
# Default value: 1
Scrap Amount Multiplier = 1

## Difficulty additive for Rainy
# Setting type: Single
# Default value: 2
Difficulty Additive = 2

[(Rapture) Modded Weather multipliers]

## Multiply Scrap value for Rapture
# Setting type: Single
# Default value: 1
Scrap Value Multiplier = 1

## Multiply Scrap amount for Rapture
# Setting type: Single
# Default value: 1
Scrap Amount Multiplier = 1

## Difficulty additive for Rapture
# Setting type: Single
# Default value: 0
Difficulty Additive = 0

[(Stormy) Weather multipliers]

## Multiply Scrap value for Stormy
# Setting type: Single
# Default value: 1.35
Scrap Value Multiplier = 1.35

## Multiply Scrap amount for Stormy
# Setting type: Single
# Default value: 1.2
Scrap Amount Multiplier = 1.2

## Difficulty additive for Stormy
# Setting type: Single
# Default value: 4
Difficulty Additive = 4

[_Weather Random Multipliers]

## Lower bound of random value
# Setting type: Single
# Default value: 0.9
Min Inclusive = 0.9

## Upper bound of random value
# Setting type: Single
# Default value: 1.2
Max Inclusive = 1.2

[_Weather Settings]

## 'false'= Disable all weather multipliers     'true'= Enable weather multipliers
# Setting type: Boolean
# Default value: true
Enable weather multipliers? = true

## 'false'= disable     'true'= enable
# Setting type: Boolean
# Default value: false
Weather multiplier randomness? = false

# Setting type: Boolean
# Default value: true
Enable terminal text? = true

