## Settings file was created by plugin GravelingContents v1.0.0
## Plugin GUID: BoomsMods.GravelingContents

[Graveling Options]

## Whether Graveling is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Carcass Growth.
# Setting type: Boolean
# Default value: false
Carcass Growth | Allow Editing Config = false

## Preset moon weights for Carcass Growth.
# Setting type: String
# Default value: lethal_company:experimentation=+4,lethal_company:assurance=+11,lethal_company:offense=+27,lethal_company:malice=+40
Carcass Growth | Preset Moon Weights = lethal_company:experimentation=+4,lethal_company:assurance=+11,lethal_company:offense=+27,lethal_company:malice=+40

## Preset interior weights for Carcass Growth.
# Setting type: String
# Default value: 
Carcass Growth | Preset Interior Weights = 

## Preset weather weights for Carcass Growth.
# Setting type: String
# Default value: 
Carcass Growth | Preset Weather Weights = 

## Preset route weights for Carcass Growth.
# Setting type: String
# Default value: 
Carcass Growth | Preset Route Weights = 

## Power level for Carcass Growth.
# Setting type: Single
# Default value: 2
Carcass Growth | Power Level = 2

## Max spawn count for Carcass Growth.
# Setting type: Int32
# Default value: 1
Carcass Growth | Max Spawn Count = 1

## Whether you're allowed to edit the config entries for Carrion Growth.
# Setting type: Boolean
# Default value: false
Carrion Growth | Allow Editing Config = false

## Preset moon weights for Carrion Growth.
# Setting type: String
# Default value: lethal_company:infernis=+5,lethal_company:infernis=+5
Carrion Growth | Preset Moon Weights = lethal_company:infernis=+5,lethal_company:infernis=+5

## Preset interior weights for Carrion Growth.
# Setting type: String
# Default value: 
Carrion Growth | Preset Interior Weights = 

## Preset weather weights for Carrion Growth.
# Setting type: String
# Default value: 
Carrion Growth | Preset Weather Weights = 

## Preset route weights for Carrion Growth.
# Setting type: String
# Default value: 
Carrion Growth | Preset Route Weights = 

## Power level for Carrion Growth.
# Setting type: Single
# Default value: 10
Carrion Growth | Power Level = 10

## Max spawn count for Carrion Growth.
# Setting type: Int32
# Default value: 1
Carrion Growth | Max Spawn Count = 1

## Whether you're allowed to edit the config entries for Corpse Growth.
# Setting type: Boolean
# Default value: false
Corpse Growth | Allow Editing Config = false

## Preset moon weights for Corpse Growth.
# Setting type: String
# Default value: lethal_company:vow=+1,lethal_company:march=+4,lethallevelloader:saturation=+10
Corpse Growth | Preset Moon Weights = lethal_company:vow=+1,lethal_company:march=+4,lethallevelloader:saturation=+10

## Preset interior weights for Corpse Growth.
# Setting type: String
# Default value: 
Corpse Growth | Preset Interior Weights = 

## Preset weather weights for Corpse Growth.
# Setting type: String
# Default value: 
Corpse Growth | Preset Weather Weights = 

## Preset route weights for Corpse Growth.
# Setting type: String
# Default value: 
Corpse Growth | Preset Route Weights = 

## Power level for Corpse Growth.
# Setting type: Single
# Default value: 5
Corpse Growth | Power Level = 5

## Max spawn count for Corpse Growth.
# Setting type: Int32
# Default value: 1
Corpse Growth | Max Spawn Count = 1

## Whether you're allowed to edit the config entries for Graveling Growths.
# Setting type: Boolean
# Default value: false
Graveling Growths | Allow Editing Config = false

## Preset moon weights for Graveling Growths.
# Setting type: String
# Default value: lethal_company:rend=+17,lethal_company:dine=+2,lethal_company:titan=+5,lethal_company:artifice=+7
Graveling Growths | Preset Moon Weights = lethal_company:rend=+17,lethal_company:dine=+2,lethal_company:titan=+5,lethal_company:artifice=+7

## Preset interior weights for Graveling Growths.
# Setting type: String
# Default value: 
Graveling Growths | Preset Interior Weights = 

## Preset weather weights for Graveling Growths.
# Setting type: String
# Default value: 
Graveling Growths | Preset Weather Weights = 

## Preset route weights for Graveling Growths.
# Setting type: String
# Default value: 
Graveling Growths | Preset Route Weights = 

## Power level for Graveling Growths.
# Setting type: Single
# Default value: 2
Graveling Growths | Power Level = 2

## Max spawn count for Graveling Growths.
# Setting type: Int32
# Default value: 1
Graveling Growths | Max Spawn Count = 1

## Whether you're allowed to edit the config entries for Carnage Bloom.
# Setting type: Boolean
# Default value: false
Carnage Bloom | Allow Editing Config = false

## Whether you're allowed to edit the config entries for Husk Growths.
# Setting type: Boolean
# Default value: false
Husk Growths | Allow Editing Config = false

## Preset moon weights for Husk Growths.
# Setting type: String
# Default value: 
Husk Growths | Preset Moon Weights = 

## Preset interior weights for Husk Growths.
# Setting type: String
# Default value: 
Husk Growths | Preset Interior Weights = 

## Preset weather weights for Husk Growths.
# Setting type: String
# Default value: 
Husk Growths | Preset Weather Weights = 

## Preset route weights for Husk Growths.
# Setting type: String
# Default value: 
Husk Growths | Preset Route Weights = 

## Power level for Husk Growths.
# Setting type: Single
# Default value: 0.75
Husk Growths | Power Level = 0.75

## Max spawn count for Husk Growths.
# Setting type: Int32
# Default value: 1
Husk Growths | Max Spawn Count = 1

## Whether you're allowed to edit the config entries for Carrion Seed.
# Setting type: Boolean
# Default value: false
Carrion Seed | Allow Editing Config = false

## Preset moon weights for Carrion Seed.
# Setting type: String
# Default value: 
Carrion Seed | Preset Moon Weights = 

## Preset interior weights for Carrion Seed.
# Setting type: String
# Default value: 
Carrion Seed | Preset Interior Weights = 

## Preset weather weights for Carrion Seed.
# Setting type: String
# Default value: 
Carrion Seed | Preset Weather Weights = 

## Preset route weights for Carrion Seed.
# Setting type: String
# Default value: 
Carrion Seed | Preset Route Weights = 

## Whether Carrion Seed is a scrap item.
# Setting type: Boolean
# Default value: true
Carrion Seed | Is Scrap = true

## How much Carrion Seed is worth when spawning.
# Setting type: BoundedRange
# Default value: 43.2,63.6
Carrion Seed | Value = 43.2,63.6

