## Settings file was created by plugin HelloNeighbor v1.1.1
## Plugin GUID: HelloNeighbor

[General]

## Speed of Hello i'm your neighbor
# Setting type: Single
# Default value: 5.2
Speed = 5.2

## Fov of neighbor can detect you idk
# Setting type: Int32
# Default value: 120
Fov range = 120

## Determins how much time it takes for neighbor to start going to random player when he can't find you after selecting random rooms
# Setting type: Int32
# Default value: 140
Time to start going to random player = 140

## The mod won't show a catch animation and will instantly skip to killing the player (Managed by server)
# Setting type: Boolean
# Default value: false
No catch animation = false

[Levels]

## Default weight for levels without override
# Setting type: Int32
# Default value: 100
Default Weight = 100

## Determines which levels the neighbor can spawn on. (all, modded, vanilla, none)
# Setting type: levelsenum
# Default value: All
# Acceptable values: Vanilla, Modded, All
Spawn Levels = All

## Changes the weight overrides for specific level
# Setting type: String
# Default value: experimentation:25, assurance:0, vow:80, march:30, offense:50, adamance:60, rend:300, titan:800, artifice:1000
Level Weights = experimentation:25, assurance:0, vow:80, march:30, offense:50, adamance:60, rend:300, titan:800, artifice:1000

[Music]

## Music that will play when neighbor is chasing you (Client only)
# Setting type: musicenum
# Default value: Random
# Acceptable values: PreAlpha, Alpha1, Alpha1second, Song, Random
Chase music = Random

## If true the hello im your neighbor song won't be selected when neighbor is chasing. (Client only)
# Setting type: Boolean
# Default value: true
No song in random = true

