[Enemies]

# Setting type: Boolean
# Default value: false
Red pill = false

# Setting type: Boolean
# Default value: false
Flowerman = false

# Setting type: Boolean
# Default value: false
Centipede = false

# Setting type: Boolean
# Default value: false
MouthDog = false

# Setting type: Boolean
# Default value: false
Crawler = false

# Setting type: Boolean
# Default value: false
Hoarding bug = false

# Setting type: Boolean
# Default value: false
Bunker Spider = false

# Setting type: Boolean
# Default value: false
Blob = false

# Setting type: Boolean
# Default value: false
ForestGiant = false

# Setting type: Boolean
# Default value: false
Girl = false

# Setting type: Boolean
# Default value: false
Lasso = false

# Setting type: Boolean
# Default value: false
Spring = false

# Setting type: Boolean
# Default value: false
Earth Leviathan = false

# Setting type: Boolean
# Default value: false
Jester = false

# Setting type: Boolean
# Default value: false
Puffer = false

# Setting type: Boolean
# Default value: false
Manticoil = false

# Setting type: Boolean
# Default value: false
Docile Locust Bees = false

# Setting type: Boolean
# Default value: false
Red Locust Bees = false

# Setting type: Boolean
# Default value: false
Baboon hawk = false

# Setting type: Boolean
# Default value: false
Nutcracker = false

# Setting type: Boolean
# Default value: true
Masked = true

# Setting type: Boolean
# Default value: false
RadMech = false

# Setting type: Boolean
# Default value: false
Butler = false

# Setting type: Boolean
# Default value: false
Butler Bees = false

# Setting type: Boolean
# Default value: false
Tulip Snake = false

# Setting type: Boolean
# Default value: false
Clay Surgeon = false

# Setting type: Boolean
# Default value: false
Maneater = false

# Setting type: Boolean
# Default value: false
GiantKiwi = false

# Setting type: Boolean
# Default value: false
Stingray = false

# Setting type: Boolean
# Default value: false
Bush Wolf = false

# Setting type: Boolean
# Default value: false
Feiopar = false

# Setting type: Boolean
# Default value: false
Cadaver Growths = false

# Setting type: Boolean
# Default value: false
Cadaver Bloom = false

# Setting type: Boolean
# Default value: false
Bouffon = false

# Setting type: Boolean
# Default value: false
Bounty Bot = false

# Setting type: Boolean
# Default value: false
Dirt Catfish = false

# Setting type: Boolean
# Default value: false
Air Croc = false

# Setting type: Boolean
# Default value: false
Ambush Wolf = false

# Setting type: Boolean
# Default value: false
Nextbot = false

# Setting type: Boolean
# Default value: false
Birch Brother = false

# Setting type: Boolean
# Default value: false
Blood Skittos = false

# Setting type: Boolean
# Default value: false
Blue Widow = false

# Setting type: Boolean
# Default value: false
Bottom Feeder = false

# Setting type: Boolean
# Default value: false
Breeze Dino = false

# Setting type: Boolean
# Default value: false
Copper Snake = false

# Setting type: Boolean
# Default value: false
Crasher = false

# Setting type: Boolean
# Default value: false
Croquette = false

# Setting type: Boolean
# Default value: false
Corbeau = false

# Setting type: Boolean
# Default value: true
Daniel Mask = true

# Setting type: Boolean
# Default value: false
Distortipede = false

# Setting type: Boolean
# Default value: false
Cloud Dragon = false

# Setting type: Boolean
# Default value: false
Poilu = false

# Setting type: Boolean
# Default value: false
Scallywag = false

# Setting type: Boolean
# Default value: false
Warden = false

# Setting type: Boolean
# Default value: false
Berry Girl = false

# Setting type: Boolean
# Default value: false
Bog Crawler = false

# Setting type: Boolean
# Default value: false
Paradesman = false

# Setting type: Boolean
# Default value: true
Masked Driver = true

# Setting type: Boolean
# Default value: false
FrostPecker = false

# Setting type: Boolean
# Default value: false
Gibcracker = false

# Setting type: Boolean
# Default value: false
Glass Masked = false

# Setting type: Boolean
# Default value: false
Ghost Sheriff = false

# Setting type: Boolean
# Default value: false
Granule = false

# Setting type: Boolean
# Default value: false
Granulet = false

# Setting type: Boolean
# Default value: false
Guardian = false

# Setting type: Boolean
# Default value: true
Masked Hunter = true

# Setting type: Boolean
# Default value: false
Dalton Masked = false

# Setting type: Boolean
# Default value: false
Marcher = false

# Setting type: Boolean
# Default value: false
Mudman = false

# Setting type: Boolean
# Default value: true
Perfect Masked = true

# Setting type: Boolean
# Default value: false
Poib = false

# Setting type: Boolean
# Default value: false
Sandman = false

# Setting type: Boolean
# Default value: false
Scout = false

# Setting type: Boolean
# Default value: false
Seedhead = false

# Setting type: Boolean
# Default value: false
Sewwer = false

# Setting type: Boolean
# Default value: false
Sharkhead = false

# Setting type: Boolean
# Default value: false
Ténébreux = false

# Setting type: Boolean
# Default value: false
VarnishBird = false

# Setting type: Boolean
# Default value: false
Dragonflakes = false

# Setting type: Boolean
# Default value: false
Gardine = false

# Setting type: Boolean
# Default value: false
Glider Geko = false

# Setting type: Boolean
# Default value: false
Mouette = false

# Setting type: Boolean
# Default value: false
Kite Lizard = false

# Setting type: Boolean
# Default value: false
Flying Komodo = false

# Setting type: Boolean
# Default value: false
Marauder = false

# Setting type: Boolean
# Default value: true
Masquerrino = true

# Setting type: Boolean
# Default value: false
Moss Maniac = false

# Setting type: Boolean
# Default value: false
Mud Serpent = false

# Setting type: Boolean
# Default value: false
Phantom = false

# Setting type: Boolean
# Default value: false
Pine Man = false

# Setting type: Boolean
# Default value: false
Proto Hawk = false

# Setting type: Boolean
# Default value: false
Rattle Rat = false

# Setting type: Boolean
# Default value: false
Arctic Ravager = false

# Setting type: Boolean
# Default value: true
Retro Mask = true

# Setting type: Boolean
# Default value: false
Rot Wasps = false

# Setting type: Boolean
# Default value: false
Shadow Bug = false

# Setting type: Boolean
# Default value: false
Sire Vansburg = false

# Setting type: Boolean
# Default value: false
Winged Skink = false

# Setting type: Boolean
# Default value: false
Snow Viper = false

# Setting type: Boolean
# Default value: false
Soldier = false

# Setting type: Boolean
# Default value: false
Polar Termite = false

# Setting type: Boolean
# Default value: false
Vernel = false

# Setting type: Boolean
# Default value: false
Voltbumble = false

# Setting type: Boolean
# Default value: false
Vautour = false

# Setting type: Boolean
# Default value: false
Wind Wyvern = false

# Setting type: Boolean
# Default value: false
Permafrost Falcon = false

# Setting type: Boolean
# Default value: false
Garnice = false

# Setting type: Boolean
# Default value: false
Inker Bayfish = false

# Setting type: Boolean
# Default value: false
Iron Maiden = false

# Setting type: Boolean
# Default value: false
Nickel Ray = false

# Setting type: Boolean
# Default value: false
Foliage Panther = false

# Setting type: Boolean
# Default value: false
Dart Puma = false

# Setting type: Boolean
# Default value: false
Sturgeon Hunter = false

# Setting type: Boolean
# Default value: false
Super Mech = false

# Setting type: Boolean
# Default value: false
Scratch Tiger = false

# Setting type: Boolean
# Default value: false
Velvet = false

# Setting type: Boolean
# Default value: false
Wangerd = false

# Setting type: Boolean
# Default value: false
Anti Coil-Head = false

# Setting type: Boolean
# Default value: false
NutSlayer = false

# Setting type: Boolean
# Default value: false
kamikazieBugs = false

# Setting type: Boolean
# Default value: false
Shy guy = false

# Setting type: Boolean
# Default value: false
LethalBotNPC = false

# Setting type: Boolean
# Default value: false
Carcass Bloom = false

# Setting type: Boolean
# Default value: false
Carcass Growth = false

# Setting type: Boolean
# Default value: false
Carrion Bloom = false

# Setting type: Boolean
# Default value: false
Carrion Growth = false

# Setting type: Boolean
# Default value: false
Corpse Bloom = false

# Setting type: Boolean
# Default value: false
Corpse Growth = false

# Setting type: Boolean
# Default value: false
Graveling Bloom = false

# Setting type: Boolean
# Default value: false
Graveling Growths = false

# Setting type: Boolean
# Default value: false
Carnage Bloom = false

# Setting type: Boolean
# Default value: false
Husk Bloom = false

# Setting type: Boolean
# Default value: false
Husk Growths = false

