## Settings file was created by plugin LethalBotsNavMeshProject v1.3.0
## Plugin GUID: T-Rizzle.LethalBotsNavMeshProject

[Debug]

## Enable the debug logs used for this mod.
# Setting type: Boolean
# Default value: true
EnableDebugLog  (Client only) = true

[Lethal Bots NavMesh Project]

## Should we automatically generate NavMeshLinks for the bots on ladders found in the level. This includes ladders in interiors. 
##  Only bots will be able to use the newly generated links!
# Setting type: Boolean
# Default value: true
Auto Generate Ladder Links = true

## If you are using a modified version of Experimentation, you may want to disable these improvements!
# Setting type: Boolean
# Default value: true
Enable Experimentation Nav Improvements = true

## If you are using a modified version of Assurance, you may want to disable these improvements!
# Setting type: Boolean
# Default value: true
Enable Assurance Nav Improvements = true

## If you are using a modified version of Vow, you may want to disable these improvements!
# Setting type: Boolean
# Default value: true
Enable Vow Nav Improvements = true

## If you are using a modified version of Offence, you may want to disable these improvements!
# Setting type: Boolean
# Default value: true
Enable Offence Nav Improvements = true

## If you are using a modified version of Adamance, you may want to disable these improvements!
# Setting type: Boolean
# Default value: true
Enable Adamance Nav Improvements = true

## If you are using a modified version of Embrion, you may want to disable these improvements!
# Setting type: Boolean
# Default value: true
Enable Embrion Nav Improvements = true

## If you are using a modified version of Artifice, you may want to disable these improvements!
# Setting type: Boolean
# Default value: true
Enable Artifice Nav Improvements = true

## If you are using a modified version of Titan, you may want to disable these improvements!
# Setting type: Boolean
# Default value: true
Enable Titan Nav Improvements = true

